body {
    font-family: 'Roboto', Times, serif;
    display: flex;
    flex-direction: column;
}

.header, .front, .footer {
    background-color: #1F2937;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    display: block;
    box-sizing: content-box;
    padding: 15px 45px;
    padding-left: 0px;
    padding-bottom: 5px;
}

.hero-secondary, .link1, .link2, .link3 {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.smaller-box, button {
    background-color: #3882f6;
    color: white;
}

.info {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.down-middle {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    color: inherit
  }

.front {
    display: flex;
    justify-content: center;
  }

.hero-main, .hero-secondary, .sign {
    display: block;
}

.hero-secondary {
    box-sizing: content-box;
    margin-bottom: 10px;
    width: 500px;
}

button {
    text-align: center;
    padding: 5px 25px;
    border-radius: 10px;
}

.sign {
    border: outset;
    border-color: #3882f6;
}

.sign-snd {
    border: solid;
    border-color: white;
}

img {
    border: 2px outset;
    border-radius: 15px;
    margin-bottom: 40px;
}