body {
    font-family: 'Roboto', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
}

.header, .front, .footer {
    background-color: #1F2937;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    display: block;
    box-sizing: content-box;
    padding: 15px 45px;
    padding-left: 0px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.hero-secondary, .link1, .link2, .link3 {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.smaller-box, button {
    background-color: #3882f6;
    color: white;
}

.info {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.down-middle {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    width: 800px;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.header {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 560px;
    padding-bottom: 10px;
    margin-bottom: -1px;
}

.links {
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    color: inherit
  }

.front {
    display: flex;
    justify-content: center;
  }

.hero-main, .hero-secondary, .sign {
    display: block;
}

.hero-secondary {
    box-sizing: content-box;
    margin-bottom: 15px;
    width: 500px;
}

button {
    text-align: center;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    font-size: 17px;
}

.sign {
    border: outset;
    border-color: #3882f6;
    font-weight: bold;
}

.sign-snd {
    border: solid;
    border-color: white;
    font-weight: bold;
    flex-shrink: 0;
    margin-right: 75px;
}

img {
    border: 2px outset;
    border-radius: 15px;
}

.up-middle {
    display: block;
}

.info {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box-text {
    width: 180px;
    height: auto;;
    margin-top: 10px;
    margin-bottom: 100px;
    text-align: center;
}

.container {
    margin-bottom: 60px;
    margin-right: 45px;
}

.box-image {
    border: 5px outset #3882f6;
    border-radius: 15px;
    width: 180px;
    height: auto;
}

.citation {
    text-align: right;
    font-weight: bold;
    padding-bottom: 100px;
    font-size: 25px;
    width: 700px;
    height: auto;
    display: block;
    margin: auto;
}

.smaller-box {
    display: flex;
    width: 80%;
    height: auto;
    max-width: 1000px;
    margin: 75px auto;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.text-container {
    display: block;
    padding: 40px 75px;
}

.call {
    font-size: 25px;
    font-weight: bold;
}

.copyright {
    color: lightgray;
    padding: 30px;
    text-align: center;
    font-size: 15px;
}

.sign-box {
    margin-left: 45px;
}